@use "../colors" as *;

.container--header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}

.header {
  width: 100%;
  max-width: 940px;
  padding-block: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;

  &__navbar {
    display: flex;
    align-items: center;

    a {
      margin-left: 2rem;
      color: $secondary;
      font-weight: 500;
      &:hover {
        color: $primary;
      }
    }
  }
}

.mobile-menu {
  display: none !important;
  color: $grey;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

@media screen and (max-width: 950px) {
  .mobile-menu {
    display: inline !important;
  }

  .header {
    padding: 10px 20px;

    &__navbar {
      flex-direction: column;
      display: none;
      flex-basis: 100%;
      align-items: end;

      a {
        margin-top: 0.75em;
      }
    }
  }
}
