/*
    GLOBAL STYLES
*/
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  max-width: 940px;
  padding-block: 100px;
}

@media screen and (max-width: 950px) {
  section {
    padding-inline: 20px;
  }
}

p {
  font-family: "Merriweather", serif;
}
